name: 'versioning'

on:
  pull_request:
    branches:
    - develop
    - main
  push:
    branches:
    - develop
    - main
    - 'release/**'
    - 'hotfix/**'

env:
  MAIN_BRANCHES: ("develop" "main")

jobs:
  gitversion:
    name: gitversion
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    #  Fixes "fatal: detected dubious ownership in repository at '/github/workspace'" in Github actions
    - name: Prereq steps
      run: |
        git config --global --add safe.directory /github/workspace

    - name: Setup .NET 6
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x

    - name: Install GitVersion.Tool
      run: dotnet tool install --global GitVersion.Tool

    - name: Fetch all history for all tags and branches
      run: |
        git fetch --unshallow
        git checkout main && git checkout -
        git checkout develop && git checkout -

    - name: Checkout to branch
      uses: ./apps/semver-yeasy
      id: checkout
      with:
        repo-type: 'MONOREPO'
        mode: 'checkout'

    - name: Calculate changed services
      id: calculate_changed_services
      uses: ./apps/semver-yeasy
      with:
        repo-type: 'MONOREPO'
        mode: 'changed'

    - name: Calculate service version calculation
      id: calculate_service_versions
      uses: ./apps/semver-yeasy
      env:
        SEMVERYEASY_CHANGED_SERVICES: ${{ fromJSON(steps.calculate_changed_services.outputs.changed_services) }}
      with:
        repo-type: 'MONOREPO'
        mode: 'calculate-version'

    - name: Calculate service version calculation
      id: calculate_service_versions
      run: |
        services=( $SEMVERYEASY_CHANGED_SERVICES )
        for service in "${services[@]}"; do
          cd $service
          npm t
          popd
        done
      env:
        SEMVERYEASY_CHANGED_SERVICES: ${{ fromJSON(steps.calculate_changed_services.outputs.changed_services) }}

    - name: Update PR description
      if: ${{ github.event_name == 'pull_request' }}
      uses: ./apps/semver-yeasy
      with:
        repo-type: 'MONOREPO'
        mode: 'update-pr'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SEMVERY_YEASY_PR_BODY: ${{ fromJSON(steps.calculate_service_versions.outputs.PR_BODY) }}

    - name: Tag build
      if: ${{ github.event_name == 'push' && (startsWith(steps.calculate_changed_services.outputs.diff_dest, 'release') || startsWith(steps.calculate_changed_services.outputs.diff_dest, 'hotfix') || contains(env.MAIN_BRANCHES, steps.calculate_changed_services.outputs.diff_dest)) }}
      uses: ./apps/semver-yeasy
      with:
        repo-type: 'MONOREPO'
        mode: 'tag'
      env:
        DIFF_DEST: ${{ steps.calculate_changed_services.outputs.DIFF_DEST }}
        SEMVERYEASY_CHANGED: ${{ steps.calculate_changed_services.outputs.changed }}
        SEMVERYEASY_CHANGED_SERVICES: ${{ fromJSON(steps.calculate_changed_services.outputs.changed_services) }}
